.blog-image {
    object-fit: cover;
}

.card-body:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.p-fade {
    max-height: 8em;
    overflow: hidden;

    background-color: black;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); 
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}